body {
  background-color: #f8f9fa;
}

.card {
  margin-top: 50px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.login-container {
  justify-content: center;
  max-width: 900px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.heading {
  background: blue;
}

.heading h2 {
  color: #f8f9fa;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-control {
  border-radius: 5px;
}
.btn-login {
  border-radius: 5px;
}

.welcome-container {
  margin-top: 100px;
  text-align: center;
}

.welcome-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 1.2rem;
  color: #6c757d;
  margin-bottom: 30px;
}
